grin
virtualenv
virtualenvwrapper

logbook

-e /home/private/Projects/mercurial
-e /home/private/Projects/pissoff/hgdistver
-e /home/private/Projects/pissoff/anyvc

-e /home/private/Projects/development/tools/reprtools

-e /home/private/Projects/codespeak/py
-e /home/private/Projects/codespeak/pycmd
-e /home/private/Projects/codespeak/pytest
-e /home/private/Projects/codespeak/execnet
-e /home/private/Projects/codespeak/pytest-boxed
-e /home/private/Projects/codespeak/pytest-xdist
-e /home/private/Projects/codespeak/pytest-cache
-e /home/private/Projects/codespeak/pytest-codecheckers
-e /home/private/Projects/codespeak/pytox

-e /home/private/Projects/beonitc/socketpool
-e /home/private/Projects/beonitc/http-parser
-e /home/private/Projects/beonitc/restkit
-e /home/private/Projects/beonitc/couchdbkit
-e /home/private/Projects/codespeak/pytest-couchdbkit

mock
pyyaml

nosier

-e /home/private/Projects/thesis/couchdb-compose
